
<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
</head>
<body>


​ <input type="text" id="input"><br>
<input id="output">
<button onclick="input(); output()">입력받기</button>
<button onclick="output()">출력하기</button>


<!-- 아래부터 자바스크립트 -->
<script type="text/javascript">
    $(window).load(function() {
    alert(2);
    });
    $(document).ready(function() {
    alert(1);
    });
    </script>
    
    
    출처: https://j07051.tistory.com/415 [흘러간다...]

</script>

</body>
</html>
