{% load static %}

<link rel="stylesheet" href="{% static 'css/findIDPW.css' %}">
<script type="text/javascript" src="{% static 'js/main.js' %}"></script>
<div class="find-page">
    <h1>아이디 찾기</h1>
    <div class="form">
        <form class="ID-form" method="post" action="">
            {% csrf_token %}
            <input type="text" name="username" placeholder="이름을 입력하세요">
            <input type="text" name="phone" onkeydown='return onlyNumber(event)' onkeyup='removeChar(event)'
                placeholder="핸드폰 번호를 입력하세요">
            <p class="message" style="text-align: left;">단, 숫자만 입력해주세요. ex) 01011112222</p>
            {{error}}
            <div class="button">
                <input type="submit" id="complete" value="아이디 찾기">
                <input type="button" id="cancle" value="홈으로">
            </div>
        </form>
    </div>
</div>