{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <title>home</title>
    <link href="{% static 'css/home.css' %}" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Noto+Serif+KR&display=swap" rel="stylesheet">
    <script src="{% static 'js/gpsCheck.js?ver=1' %}"></script>

</head>
<body id="page-top">
    <div id="wrapper">

        <ul id="Sidebar" class="navbar-nav sidebar sidebar-dark accordion">
            <a class="sidebar-brand d-flex align-items-center justify-content-center" href="home.html">
                <img id="menuicon" src="{% static 'img/logo.png' %}" width="30px" height="30px" alt="menu">
                <div id="Service-name" class="sidebar-brand-text mx-3">고영희 찾기</div>
            </a>
            <hr class="sidebar-divider my-0">
            <li class="nav-item">
                <a class="nav-link" href="{% url 'website:homePost' %}">
                    <span>Home</span></a>
            </li>
            <hr class="sidebar-divider">
            <div class="sidebar-heading">
                Board
            </div>
            <li class="nav-item">
                <a class="nav-link" href="{% url 'website:missBoard' %}">
                    <span>실종동물 게시판</span></a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="{% url 'website:findBoard' %}">
                    <span>발견동물 게시판</span></a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="{% url 'website:posterBoard' %}">
                    <span>포스터 게시판</span></a>
            </li>
            <hr class="sidebar-divider">
            <div class="sidebar-heading">
                Infomation
            </div>
            <li class="nav-item">
                <!-- 예진 : 주변 보호소 정보 끝났다면 href 넣어주세요!-->
                <a class="nav-link" href="{% url 'website:shelterInformation' %}" onclick="gpsCheck();">
                    <span>주변 보호소 정보</span></a>
            </li>
            <li class="nav-item">
                <!-- 예진 : 마이페이지 끝났다면 href 넣어주세요! -->
                <a class="nav-link" href="mypage.html">
                    <span>마이페이지</span></a>
            </li>
        </ul>

        <div id="content-wrapper" class="d-flex flex-column">
            <div id="content">

                <nav id="Topbar" class="navbar navbar-expand navbar-light topbar static-top">
                    <button id="sidebarToggleTop" class="btn btn-link d-md-none rounded-circle mr-3">
                        <img id="menuicon" src="{% static 'img/menu.svg' %}" width="20px" height="20px" alt="menu">
                    </button>
                    <ul class="navbar-nav ml-auto">
                        <li class="nav-item">

                            {% if user.is_authenticated %}
                            <!-- 예진 : 로그인한 경우 href 마이페이지로 바꿔주세요! -->
                            <a class="nav-link" href="#" id="user" role="button">
                                <span class="mr-2 d-none d-lg-inline text-gray-600 small"> {{ user.userID }} </span>

                                {% if user.image %}
                                <img class="img-profile rounded-circle" src="{{ user.image }}">
                                {% else %}
                                <img class="img-profile rounded-circle" src="{% static 'img/user.png' %}">
                                {% endif %}

                                <!-- 예진 : 쪽지 개수 표시 (3+를 쪽지개수로 바꿔주세요)-->
                                <span class="badge badge-danger badge-counter">3+</span>
                                <!-- 아직 마이페이지 끝 X -->
                            </a>

                            {% else %}
                            <a class="nav-link" href="{% url 'website:login' %}" id="user" role="button">
                                <span class="mr-2 d-none d-lg-inline text-gray-600 small"> Log in </span>
                                <img class="img-profile rounded-circle" src="{% static 'img/user.png' %}">
                            </a>
                            {% endif %}

                        </li>
                    </ul>
                </nav>

                {% block content %}
                {% endblock %}

            </div>

            <footer class="sticky-footer bg-white">
                <div class="container my-auto">
                    <div class="copyright text-center my-auto">
                        <span>Copyright &copy; SSU Software18 made by 강형욱(수현,아현,혜원,예진) </span>
                    </div>
                </div>
            </footer>

        </div>

    </div>

    <!-- Bootstrap core JavaScript-->
    <script src="{% static 'vendor/jquery/jquery.min.js' %}"></script>
    <script src="{% static 'vendor/bootstrap/js/bootstrap.bundle.min.js' %}"></script>

    <!-- Core plugin JavaScript-->
    <script src="{% static 'vendor/jquery-easing/jquery.easing.min.js' %}"></script>

    <!-- Custom scripts for all pages-->
    <script src="{% static 'js/home.js' %}"></script>

</body>

</html>