{% extends 'menu_template.html' %}
{% load static %}
{% block content %}

<script type="text/javascript" src="{% static 'js/main.js' %}"></script>
<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <a class="navbar-brand" href="#">쪽지함</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarText"
        aria-controls="navbarText" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarText">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item">
                <a class="nav-link" href="/website/mypage/mymessage">쪽지쓰기</a>
            <li class="nav-item">
                <a class="nav-link" href="/website/mypage/receivelist">받은쪽지함</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/website/mypage/sendlist">보낸쪽지함</a>
            </li>
        </ul>
    </div>
</nav>

<!-- 쪽지함 -->
<form style=" text-align: center" method="post" action="">
    <div class="container">
    {% if user.is_authenticated%}
    {% csrf_token %}
        <table class="table" style="margin-top: 50px;">
            <tr colsapn="2">
                <label for ="{{form.recipient.id_for_label}}"><td>받는이</td></label>                
                <td>{{form.recipient}}</td>
            </tr>
            <tr colspan="2">
                <label for ="{{form.content.id_for_label}}"><td>내용</td></label> 
                <form name='form'>
                    <p>
                    <td>
                        {{form.content}}
                        <span style="float: right;">/ 300자</span>
                        <span id="byteInfo" style="float: right; margin-right: 5px;">0</span>
                    </td>
                    </p>
                </form>
                {{ error }}
            </tr>
            <tr>
                <td></td>
                <td></td>
            </tr>
        </table>
        <div class="button" align="center" style="margin-bottom: 80px;">
            <a class="btn btn-default" href="#" role="button">취소</a>
            <button class="btn btn-default" type="submit">보내기</button>
        </div>
    {% else %}
    <li><a href="{% url 'website:login' %}">Login</a></li>
    <li><a href="{% url 'website:signup' %}">Signup</a></li>
    {% endif %}
    </div>
</form>

{% endblock content %}