{% extends 'menu_template.html' %}
{% load static %}
{% block content %}

<br><br>
<div class="container">
    <div class="card mb-3" style="width: auto;">
        <div class="row no-gutters">
            <div class="col-md-4">
                <!-- 예진 : src부분에서 {% static 'img/dog.png' %}를 지우고 DB에서 잃어버린 동물 사진을 받아와야 합니당~ -->
                <img src="{% static 'img/dog.png' %}" class="card-img" id="animalImg">
            </div>
            <div class="col-md-8">
                <div class="card-body">
                    <!-- 예진 : 작성일 지우고 db에서 작성일 받아오는 코드 넣어주면 돼요~ ex)post.date-->
                    <p class="card-text" id="date" style="text-align:right;" id="reportingDate">작성일</p>
                    <br>
                    <!-- 예진 : 이름 지우고 db에서 이름 받아오는 코드 넣어주면 돼요~ -->
                    <p class="card-text" id="name">이름</p>
                    <!-- 예진 : 나이 지우고 db에서 나이 받아오는 코드 넣어주면 돼요~ -->
                    <p class="card-text" id="age">나이</p>
                    <!-- 예진 : 성별 지우고 db에서 성별 받아오는 코드 넣어주면 돼요~ -->
                    <p class="card-text" id="gender"">성별</p>
                    <!-- 예진 : 잃어버린 위치(찾은 위치) 지우고 db에서 잃어버린 위치(찾은 위치) 받아오는 코드 넣어주면 돼요~ -->
                    <p class="card-text" id="location">잃어버린 위치(찾은 위치)</p>
                    <!-- 예진 : 특징 지우고 db에서 특징 받아오는 코드 넣어주면 돼요~ -->
                    <p class="card-text" id="feature">특징</p>
                    <!-- 예진 : 연락처 지우고 db에서 연락처 받아오는 코드 넣어주면 돼요~ -->
                    <p class="card-text" id="contact">연락처</p>
                </div>
            </div>
        </div>
    </div>
    <!-- 목록 수정 삭제 버튼 폼 -->
    <div class="button" align="right">
        <!-- 예진 : href=""에 게시판 목록 돌아가는 함수 넣기 -->
        <a class="btn btn-default" href="" role="button">목록</a>
        <!-- 예진 : OnClick="location.href ='#'"에서 #안에 게시글 수정하는 함수 넣기 -->
        <button type="submit" OnClick="location.href ='#'" class="btn btn-default">수정</button>
        <!-- 예진 : OnClick="location.href ='#'"에서 #안에 게시글 삭제하는 함수 넣기 -->
        <button type="submit" OnClick="location.href ='#'" class="btn btn-default">삭제</button>
    </div>

    <br><br>
    <strong>댓글</strong>
    <p>댓글창 크기 조절....</p>
    <br><br>

    <!-- 댓글 작성 폼 -->
    <div class="commentWrite">
        <!-- 예진 : if문으로 로그인이 되어 있으면 넣기
        ex)  -->
        <form method="post">
            <!-- 예진 : src="{% static 'img/black1.gif' %}"에 {% static 'img/black1.gif' %} 지우고 현재 유저 이미지 받아오는 코드 넣기-->
            <img src="{% static 'img/black1.gif' %}" alt="유저 아이콘" class="img-fluid rounded rounded-circle" id="commentUserImg">
            <span class="search_in"><input type="text" placeholder="댓글을 입력하세요" id="commentInput"
                    style="border:none;"></span>
            <button type="submit" class="btn btn-default">확인</button>
        </form>
    </div>

    <!--댓글 출력-->
    <!-- 예진 : 반복문 통해서 댓글 db 가져오기 ex)  -->
    <div class="commentRead">
        <br>
        <div class="commentTable">
            <table>
                <tr>
                    <!-- 예진 : {% static 'img/black1.gif' %} 지우고 댓글 쓴 user의 아이콘 가져오기 -->
                    <td rowspan="2"><img src="{% static 'img/black1.gif' %}" alt="유저 아이콘" class="img-fluid rounded rounded-circle" id="commentUserImg"
                            style="margin-right: 15px;">
                    </td>
                    <!-- 예진 : 아이디 지우고 댓글 쓴 user의 아이디 가져오기-->
                    <td>아이디</td>
                </tr>
                <tr>
                    <!-- 예진 : 쪽지 주세요~ 지우고 user가 쓴 댓글 내용 가져오기 -->
                    <td>쪽지 주세요~</td>
                </tr>
            </table>
        </div>
        <div class="button" align="right">
            <!-- 예진 : if문으로 댓글 작성한 유저와 현재 유저가 같은지 확인하는 코드 넣기
            ex)  -->
            <!-- 예진 : OnClick="location.href ='#'"에서 #안에 댓글 수정하는 함수 넣기 -->
            <button type="submit" OnClick="location.href ='#'" class="btn btn-default">수정</button>
            <!-- 예진 : OnClick="location.href ='#'"에서 #안에 댓글 삭제하는 함수 넣기 -->
            <button type="submit" OnClick="location.href ='#'" class="btn btn-default">삭제</button>
            <!--  -->
        </div>
    </div>
</div>
{% endblock content %}