{% extends 'menu_template.html' %}
{% load static %}
{% block content %}
<link rel="stylesheet" href="{% static 'css/postCheck.css' %}">
<script type="text/javascript" src="{% static 'js/check.js' %}"></script>

<br><br>
<div class="container">
    {% if post %}
    <div class="card mb-3" style="width: auto;">
        <div class="row no-gutters">
            <div class="col-md-4">
                <!-- 예진 : src부분에서 {% static 'img/dog.png' %}를 지우고 DB에서 잃어버린 동물 사진을 받아와야 합니당~ 아직 DB에 동물 사진 없으므로 나중에 할 예정 -->
                {% if post.image %}
                    <img src="{{ post.image.url }}" class="card-img" id="animalImg">
                {% else %}
                    <img src="{% static 'img/dog.png' %}" class="card-img" id="animalImg">
                {% endif %}
            </div>
            <div class="col-md-8">
                <div class="card-body">
                    <!-- 예진 : 작성일 지우고 db에서 작성일 받아오는 코드 넣어주면 돼요~ ex)post.date-->
                    <p class="card-text" id="pub_date" style="text-align:right;" id="reportingDate">등록날짜 : {{ post.pub_date }}</p>
                    <p class="card-text" id="up_date" style="text-align:right;" id="updateDate">수정날짜 : {{ post.up_date }}</p>
                    <br>
                    {% if post.shelter %}
                    <p class="card-text" id="shelter">글작성자 : {{ post.shelter.name }} <button class="btn btn-link" onclick="window.open('./popupPlace.html','보호소 위치','width=430,height=500,location=no,status=no,resizable=no');"><img width="20" height="20" style="margin-left: -13px; margin-top: -9px" src="{% static 'img/gps.png' %}"></button></p> 
                    <p class="card-text" id="location">잃어버린 위치(찾은 위치) : {{ post.location }}</p>
                    <p class="card-text" id="date">잃어버린 날짜 : {{ post.date }}</p>
                    <p class="card-text" id="feature">특징 : {{ post.feature }}</p>
                    <p class="card-text" id="contact">연락처 : {{ post.shelter.phone }}</p>
                    {% else %}
                    <p class="card-text" id="name">글작성자 : {{ post.user.username }} <button class="btn btn-link" onclick="window.open('./popupMSG.html','쪽지 쓰기','width=430,height=500,location=no,status=no,resizable=no');"><img width="20" height="20" style="margin-left: -13px; margin-top: -9px" src="{% static 'img/email.png' %}"></button></p>
                    <p class="card-text" id="location">잃어버린 위치(찾은 위치) : {{ post.location }}</p>
                    <p class="card-text" id="date">잃어버린 날짜 : {{ post.date }}</p>
                    <p class="card-text" id="feature">특징 : {{ post.feature }}</p>
                    <p class="card-text" id="contact">연락처 : {{ post.user.phone }}</p>
                    {% endif %}
                </div>
            </div>
        </div>
    </div>

    <!-- 목록 수정 삭제 버튼 폼 -->
    <div class="button" align="right">
        <a class="btn btn-default" href="{% url "website:homePost" %}" role="button">목록</a>
        <button type="submit" OnClick="location.href ='{% url "website:edit" post_id=post.id %}'" class="btn btn-default">수정</button>
        {% if user == post.user.userID %}
        <button type="submit" OnClick="removeData(); location.href ='{% url "website:delete" post_id=post.id %}'" class="btn btn-default">삭제</button>
        {% else %}
        <button type="submit" OnClick="deleteCheck();" class="btn btn-default">삭제</button>
        {% endif %}
        </div>

    <br><br>
    <strong>댓글</strong>
    <br><br>

    <!-- 댓글 작성 폼 -->
    <div class="commentWrite">
        {% if user.is_authenticated %}
        <form method="post">
            {% csrf_token %}
            {% if user %}
            <!-- 예진 : src="{% static 'img/black1.gif' %}"에 {% static 'img/black1.gif' %} 지우고 현재 유저 이미지 받아오는 코드 넣기-->
            {% if user.image %}
            <img src="{{ user.image }}" alt="유저 아이콘" class="img-fluid rounded rounded-circle" id="commentUserImg">
            {% else %}
            <img src="{% static 'img/black1.gif' %}" alt="유저 아이콘" class="img-fluid rounded rounded-circle" id="commentUserImg">
            {% endif %}
            <span class="search_in"><input type="text" placeholder="댓글을 입력하세요" id="commentInput" name="comment"
                    style="border:none;"></span>
            <button type="submit" class="btn btn-default">확인</button>
            {% endif %}
        </form>
    </div>

    <!--댓글 출력-->
    {% for comment in comments %}
    <div class="commentRead">
        <br>
        <div class="commentTable">
            <table>
                <tr>
                    <!-- 예진 : {% static 'img/black1.gif' %} 지우고 댓글 쓴 user의 아이콘 가져오기 -->
                    {% if comment.user.image %}
                    <td rowspan="2"><img src="{{ comment.user.image }}" alt="유저 아이콘" class="img-fluid rounded rounded-circle" id="commentUserImg"
                            style="margin-right: 15px;">
                    </td>
                    {% else %}
                    <td rowspan="2"><img src="{% static 'img/black1.gif' %}" alt="유저 아이콘" class="img-fluid rounded rounded-circle" id="commentUserImg"
                            style="margin-right: 15px;">
                    </td>
                    <td>{{ comment.user.username }}</td>
                    {% endif %}
                    <td>{{ comment.user.userID }}</td>
                </tr>
                <tr>
                    <td>{{ comment.comment }}</td>
                </tr>
            </table>
        </div>
        <div class="button" align="right">
            {% if user == comment.user.username %}
            <button type="submit" OnClick="location.href ='{% url "website:comment_edit" pk=comment.pk %}'" class="btn btn-default">수정</button>
            <button type="submit" OnClick="removeData(); location.href ='{% url "website:comment_delete" pk=comment.pk %}'" class="btn btn-default" >삭제</button>
            {% endif %}
        </div>
    </div>
    {% empty %}
    <br>
    <p>댓글이 없습니다.</p>
    {% endfor %}
    {% else %}
        <p>No Data</p>
    {% endif %}
</div>
{% endblock content %}