{% extends 'base.html' %}

{% block title %}
Signup
{% endblock %}

{% block content %}
<form action="" method="post">
    <div class="alert alert-info">Please enter your account information.</div>
    {% csrf_token %}
    {{ form.as_p }}<br>
<!--    <label>Username : <input type="text" name="username"> </label><br>-->
<!--    <label>Passward1 : <input type="password" name="password1"> </label><br>-->
<!--    <label>Passward2 : <input type="password" name="password2"> </label><br>-->
    <input type="submit" value="Sign Up" class="btn btn-outline-info">
</form>
{% endblock %}