{% extends 'menu_template.html' %}
{% block content %}
    <br><br><br><br><br>
    <h1 style="text-align: center">회원가입</h1><br>
    <!-- 경고창 -->
    <!--<div class="alert alert-success"> 
            <a class="close" href="#" data-dismiss="alert">×</a>    
        </div>   -->
    <form style="text-align: center" method="post" action="">
        {% csrf_token %}
        <div class="container">
            <table class="table table-bordered">
                <tbody>
                    <tr>
                        <th>ID</th>
                        <td><input type="text" name="username" class="form-control"></td> <br>
                    </tr>
                    <tr>
                        <th>비밀번호</th>
                        <td><input type="password" id="pw" name="userPw" class="form-control"></td>
                    </tr>
                    <tr>
                        <th>비밀번호 확인</th>
                        <td><input type="password" id="pwChk" name="userPwChk" class="form-control"
                                onchange="fn_pw_check()"></td>
                    </tr>
                    <tr>
                        <th>휴대폰번호</th>
                        <td><input type="text" onkeydown='return onlyNumber(event)' onkeyup='removeChar(event)'
                                class="form-control">
                        </td>
                    </tr>
                    <tr>
                        <td colspan="2" style="text-align: center">
                            <input type="submit" value="완료" class="btn btn-default">
                            <input type="button" value="취소" class="btn btn-default"></a>
                        </td>
                    </tr>
    </form>
{% endblock content %}