<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <title>home</title>
    <link href="css/home.css" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Noto+Serif+KR&display=swap" rel="stylesheet">
</head>

<body id="page-top">
    <div id="wrapper">

        <!-- 1. 사이드바 -->
        <ul id="Sidebar" class="navbar-nav sidebar sidebar-dark accordion">
            <!-- 사이드바(서비스명) -->
            <a class="sidebar-brand d-flex align-items-center justify-content-center" href="home.html">
                <img id="menuicon" src="img/logo.svg" width="20px" height="20px" alt="menu">
                <div id="Service-name" class="sidebar-brand-text mx-3">찾아Zoo</div>
            </a>
            <!-- Divider -->
            <hr class="sidebar-divider my-0">
            <!-- 사이드바(홈) -->
            <li class="nav-item active">
                <a class="nav-link" href="index.html">
                    <span>Home</span></a>
            </li>
            <!-- Divider -->
            <hr class="sidebar-divider">
            <!-- 사이드바(제목 : 게시판) -->
            <div class="sidebar-heading">
                Board
            </div>
            <!-- 사이드바(실종동물 게시판) -->
            <li class="nav-item">
                <a class="nav-link" href="index.html">
                    <span>실종동물 게시판</span></a>
            </li>
            <!-- 사이드바(발견동물 게시판) -->
            <li class="nav-item">
                <a class="nav-link" href="index.html">
                    <span>발견동물 게시판</span></a>
            </li>
            <!-- 사이드바(포스터 게시판) -->
            <li class="nav-item">
                <a class="nav-link" href="charts.html">
                    <span>포스터 게시판</span></a>
            </li>
            <!-- Divider -->
            <hr class="sidebar-divider">
            <!-- 사이드바(제목 : 정보) -->
            <div class="sidebar-heading">
                Infomation
            </div>
            <!-- 사이드바(주변 보호소 정보) -->
            <li class="nav-item">
                <a class="nav-link" href="index.html">
                    <span>주변 보호소 정보</span></a>
            </li>
            <!-- 사이드바(마이페이지) -->
            <li class="nav-item">
                <a class="nav-link" href="tables.html">
                    <span>마이페이지</span></a>
            </li>
        </ul>
        <!-- End of Sidebar -->

        <!-- 2. 내용 -->
        <div id="content-wrapper" class="d-flex flex-column">
            <div id="content">

                <!-- 2-1 탑바 -->
                <nav id="Topbar" class="navbar navbar-expand navbar-light topbar static-top">
                    <!-- 사이드바 토글 버튼 -->
                    <button id="sidebarToggleTop" class="btn btn-link d-md-none rounded-circle mr-3">
                        <img id="menuicon" src="img/menu.svg" width="20px" height="20px" alt="menu">
                    </button>
                    <!-- 탑바 범위 -->
                    <ul class="navbar-nav ml-auto">
                        <!-- 유저 아이템 -->
                        <li class="nav-item">
                            <a class="nav-link" href="#" id="user" role="button">
                                <span class="mr-2 d-none d-lg-inline text-gray-600 small"> User ID </span>
                                <img class="img-profile rounded-circle" src="./img/user.svg">
                                <span class="badge badge-danger badge-counter">3+</span>
                            </a>
                        </li>

                    </ul>
                </nav>
                <!-- End of Topbar -->

                <div id="background" class="jumbotron">
                    <h1 id="introhead" class="display-4">찾아Zoo!</h1>
                    <p id="introtext" class="lead">서로를 찾고 있는 반려동물과 당신의 마음.<br> 똑똑하게 AI로 당신의 강아지를 찾아보세요!</p>
                    <p class="lead">
                        <a class="btn btn-outline-light" href="#" role="button">반려동물 찾기</a>
                    </p>
                </div>

                <!-- 2-2 내용 시작 -->
                <div class="container-fluid">

                    <!-- 내용 -->
                    <h4 id="whole_list_head"> 전체 리스트 </h4>
                    <h6 id="whole_list_text">실종 및 발견신고</h6>

                    {% if post %}
                    <div class="card-deck">

                        {% for postRow in post %}
                        <div class="card">
                            {% if postRow.image %}
                            <img class="card-img-top" src="{{ postRow.image.url }}" alt="Card image">
                            {% endif %}
                            <div class="card-body">
                                <h5 class="card-title">{{ postRow.species }}</h5>
                                <p class="card-text">{{ postRow.miss_date }}</p>
                                <p class="card-text">{{ postRow.miss_loc }}</p>
                                {% if postRow.user.username == None %}
                                <p class="card-text">{{ postRow.shelter.name }}</p>
                                {% else %}
                                <p class="card-text">{{ postRow.user.username }}</p>
                                {% endif %}
                                <a href="#" class="btn btn-light">Go somewhere</a>
                            </div>
                        </div>
                        {% endfor %}
                        <div class="card">
                            <img class="card-img-top" src="./img/03.jpg" alt="Card image cap">
                            <div class="card-body">
                                <h5 class="card-title">Card title</h5>
                                <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                                <a href="#" class="btn btn-light">Go somewhere</a>
                            </div>
                        </div>
                        <div class="card">
                            <img class="card-img-top" src="./img/05.jpg" alt="Card image cap">
                            <div class="card-body">
                                <h5 class="card-title">Card title</h5>
                                <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                                <a href="#" class="btn btn-light ">Go somewhere</a>
                            </div>
                        </div>
                    </div>
                    {% endif %}
                    <!--End of card-deck-->

                    <nav aria-label="Page navigation example">
                        <ul class="pagination justify-content-center">
                            <li class="page-item disabled">
                                <a class="page-link" href="#" tabindex="-1">Previous</a>
                            </li>
                            <li class="page-item"><a class="page-link" href="#">1</a></li>
                            <li class="page-item"><a class="page-link" href="#">2</a></li>
                            <li class="page-item"><a class="page-link" href="#">3</a></li>
                            <li class="page-item">
                                <a class="page-link" href="#">Next</a>
                            </li>
                        </ul>
                    </nav>

                </div>
                <!-- /.container-fluid -->

            </div>
            <!-- End of Main Content -->

            <!-- 2-3 풋터 -->
            <footer class="sticky-footer bg-white">
                <div class="container my-auto">
                    <div class="copyright text-center my-auto">
                        <span>Copyright &copy; SSU Software18 made by 강형욱(수현,아현,혜원,예진) </span>
                    </div>
                </div>
            </footer>
            <!-- End of Footer -->

        </div>
        <!-- End of Content Wrapper -->

    </div>
    <!-- End of Page Wrapper -->

    <!-- Bootstrap core JavaScript-->
    <script src="vendor/jquery/jquery.min.js"></script>
    <script src="vendor/bootstrap/js/bootstrap.bundle.min.js"></script>

    <!-- Core plugin JavaScript-->
    <script src="vendor/jquery-easing/jquery.easing.min.js"></script>

    <!-- Custom scripts for all pages-->
    <script src="js/sb-admin-2.min.js"></script>

</body>

</html>
