@import url(https://fonts.googleapis.com/css?family=Noto+Serif+KR&display=swap);

    h1{
        color: #8B7862;
        font-family: 'Noto Serif KR', serif;
        padding-bottom: 30px;
    }

    .sign-page {
        width: 450px;
        padding-top: 50px;
        padding-bottom: 50px;
        margin: auto;
    }
    
    .form {
        position: relative;
        z-index: 1;
        background: #FFFFFF;
        max-width: 360px;
        margin: 0 auto 15px;
        padding: 45px;
        text-align: center;
        box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2), 0 5px 5px 0 rgba(0, 0, 0, 0.24);
    }
    .form input {
        font-family: 'Noto Serif KR', serif;
        outline: 0;
        background: #f2f2f2;
        width: 100%;
        border: 0;
        margin: 0 0 15px;
        padding: 15px;
        box-sizing: border-box;
        font-size: 14px;
        border-radius: 30px;
    }
    .form .button #complete {
        font-family: 'Noto Serif KR', serif;
        text-transform: uppercase;
        outline: 0;
        background:#c7bc97;
        width: 100%;
        border: 0;
        padding: 15px;
        color: #FFFFFF;
        font-size: 14px;
        -webkit-transition: all 0.3 ease;
        transition: all 0.3 ease;
        cursor: pointer;
    }

    .form .button #cancle{
        margin-bottom: -10px;
    }

    .form p.message{
        font-family: 'Noto Serif KR', serif;
        color: #8B7862;
        text-decoration: none;
        font-size: 9px;
        margin-top: -5px;
        margin-bottom: 25px;
        padding-left: 15px;
    }

    select{
        font-family: 'Noto Serif KR', serif;
        width: 95%; 
        margin-bottom: 10px;
        border-width: 0;
        color:gray
    }